main {
    height: 100vh;
    
    .msg-content {
        height: calc(100vh - 50px);
        padding: 15px;
        overflow-y: scroll;
    }

    form {
        width: 100vw;
        height: 50px;
        border-top: 2px solid var(--txt-light-color);

        input {
            width: 80%;
            height: 100%;
            border: none;
            padding: 10px;
        }

        button {
            width: 20%;
            height: 100%;
            border: none;
        }
    }
}